/* *{
    background: rgba(128, 128, 128, 0.543);
} */

.Box_bg{
    display: flex;
    flex-wrap: wrap;
    background: #056da9;
    width: 500px;
    height: 81vh;
}

/* Zone Orange */
.containerO{
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    height:20vh;
}

.orange{
    display: flex;
    background:rgb(255, 119, 29);
    height: 100px;
    width: 479px;
    align-content: center;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
}

/*   Zone Gray & Container Yellow Blue Green   */
.containerGCYBG{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height:45vh;
}

.gray{
    display: flex;
    background:rgb(87, 87, 87);
    height: 224px;
    width: 50%;
    margin-top: 1%;
    margin-right: -1%;
    margin-left: 3%;
}

/*   Zone LISTE Yellow Blue Green   */
.containerYBG{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    height: 230px;
}

.yellow{
    display: flex;
    background:rgb(255, 230, 3);
    height: 220px;
    width: 92%;
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 3%;
}

.blue{
    display: flex;
    background:rgb(82, 55, 180);
    height: 220px;
    width: 92%;
    margin-top: 2%;
    margin-right: -1%;
    margin-left: 3%;
}

.bgreen{
    display: flex;
    background:rgb(91, 199, 111);
    height: 220px;
    width: 92%;
    margin-top: 2%;
    margin-right: -1%;
    margin-left: 3%;
}

.containerG{
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    height: 100px;
}

.green{
    display: flex;
    background:rgb(22, 134, 22);
    height: 16vh;
    width:100%;
    align-content: center;
    margin-top: -5%;
    margin-right: 3%;
    margin-left: 3%;
}