.Box_bg{
    display: flex;
    flex-wrap: wrap;
    background: rgb(6, 161, 146);
    width: 500px;
    height: 70vh;
}

.containerO{
    display: flex;
    width:495px;
    height:100px;
}

.orange{
    display: flex;
    background:rgb(255, 119, 29);
    height: 100px;
    width: 479px;
    align-content: center;
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 3%;
}

.containerGY{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:495px;
    height:100px;
}

.gray{
    display: flex;
    background:rgb(87, 87, 87);
    height: 100px;
    width: 45%;
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 3%;
}

.yellow{
    display: flex;
    background:rgb(255, 230, 3);
    height: 100px;
    width: 45%;
    margin-top: 2%;
    margin-right: 3%;
    margin-left: 3%;
}





/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blueviolet;
    height: 100vh;
    width: 100%;
 
 
.cubFond{
    display: flex;


    width: 550px;
    height: 550px;
    max-width: 550px;
    max-height: 550px;
    border: 4px solid 
}


.box1{
    display: flex;
    background:turquoise;
    height: 100px;
}

.box2{
    display: flex;
    height: 200px;
    width: 100%;
}

.bbox1{
    background: blue;
    display: flex;
    width: 30%;
}

.bbox2{
    background: rgb(203, 232, 17);
    display: flex;
    width: 70%;
}

.box3{
    display: flex;
    background:rgb(7, 84, 14);
    height: 100px;
} */